<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.nyxian.pe.dyld_hide_liveprocess</key>
	<true/>
	<key>com.nyxian.pe.get_task_allowed</key>
	<true/>
	<key>com.nyxian.pe.host_manager</key>
	<false/>
	<key>com.nyxian.pe.launch_services_get_endpoint</key>
	<false/>
	<key>com.nyxian.pe.platform</key>
	<false/>
	<key>com.nyxian.pe.process_elevate</key>
	<false/>
	<key>com.nyxian.pe.process_enumeration</key>
	<false/>
	<key>com.nyxian.pe.process_kill</key>
	<false/>
	<key>com.nyxian.pe.process_spawn</key>
	<false/>
	<key>com.nyxian.pe.process_spawn_inherite_entitlements</key>
	<true/>
	<key>com.nyxian.pe.process_spawn_signed_only</key>
	<false/>
	<key>com.nyxian.pe.task_for_pid</key>
	<false/>
	<key>com.nyxian.pe.task_for_pid_host</key>
	<false/>
</dict>
</plist>
