<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LDEBundleIdentifier</key>
	<string>com.frappe.rn</string>
	<key>LDEBundleInfo</key>
	<dict>
		<key>UIApplicationSceneManifest</key>
		<dict>
			<key>UIApplicationSupportsMultipleScenes</key>
			<false/>
			<key>UISceneConfigurations</key>
			<dict>
				<key>UIWindowSceneSessionRoleApplication</key>
				<array>
					<dict>
						<key>UISceneConfigurationName</key>
						<string>Default Configuration</string>
						<key>UISceneDelegateClassName</key>
						<string>SceneDelegate</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<key>LDEBundleShortVersion</key>
	<string>1.0</string>
	<key>LDEBundleVersion</key>
	<string>1.0</string>
	<key>LDECompilerFlags</key>
	<array>
		<string>-fobjc-arc</string>
	</array>
	<key>LDEDisplayName</key>
	<string>frappe</string>
	<key>LDEExecutable</key>
	<string>frappe</string>
	<key>LDELinkerFlags</key>
	<array>
		<string>-ObjC</string>
		<string>-lc</string>
		<string>-framework</string>
		<string>Foundation</string>
		<string>-framework</string>
		<string>UIKit</string>
		<string>-framework</string>
		<string>CoreGraphics</string>
		<string>-framework</string>
		<string>QuartzCore</string>
		<string>-framework</string>
		<string>PDFKit</string>
		<string>-framework</string>
		<string>AVFoundation</string>
		<string>-framework</string>
		<string>AVKit</string>
		<string>-framework</string>
		<string>UniformTypeIdentifiers</string>
		<string>-framework</string>
		<string>CoreServices</string>
		<string>-framework</string>
		<string>MobileCoreServices</string>
		<string>-lclang_rt.ios</string>
	</array>
	<key>LDEMinimumVersion</key>
	<string>26.2</string>
	<key>LDEProjectType</key>
	<integer>1</integer>
	<key>LDEVersion</key>
	<string>26.2</string>
</dict>
</plist>
